.image{
    margin: auto 0px;
    border-style: none;
    max-height: 50%;
    width: 50%;
    border-radius: 10px;
}
.heading{
  color: green;
}
.heading_1{
    font-size: large;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
}

.heading_2{
  text-align: center;
}

.icons{
    font-size: x-large;
    background-color: #ffffff;
    color: red;
    margin: auto 0;
    cursor: pointer;
}

.icons:hover{
    color: blue;
}

.progress_container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress_container::before {
    content: ""; /* Mandatory with ::before */
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
  }

  .progress {
    background-color:  #3498db;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
  }


  .circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #e0e0e0;
    transition: 0.4s ease;
  }
  
  .circle.active {
    border-color: #3498db;
  }

  .List{
    margin: 10px 0px;
  }

  .Select{
    width: 70%;
    padding: 5px 30px;
    font-size: large;
    font-weight: 700;
    margin: 0px auto;
    background-color: #ffffff;
    border-radius: 20px;
  }

  .head{
    padding: 100px;
    text-transform: capitalize;
    font-weight: 900;
  }